Source: ros-jazzy-depthai-v3
Section: misc
Priority: optional
Maintainer: Matevz Morato <matevz.morato@luxonis.com>
Build-Depends: debhelper (>= 9.0.0), curl, gfortran, libcurl4-openssl-dev, libfmt-dev, libopencv-dev, libspdlog-dev, libtar-dev, libudev-dev, libusb-1.0-0-dev, nlohmann-json3-dev, ros-jazzy-ament-cmake, ros-jazzy-ros-environment, unzip, zip, ros-jazzy-ros-workspace
Homepage: https://www.luxonis.com/
Standards-Version: 3.9.2

Package: ros-jazzy-depthai-v3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, gfortran, libcurl4-openssl-dev, libfmt-dev, libopencv-dev, libspdlog-dev, libtar-dev, libudev-dev, libusb-1.0-0-dev, nlohmann-json3-dev, unzip, zip, ros-jazzy-ros-workspace
Description: DepthAI core is a C++ library which comes with firmware and an API to interact with OAK Platform
